[Unit]
Description=Prometheus exporter for weather metrics
Requires=network-online.target
After=network-online.target

[Service]
DynamicUser=yes
User=consul
Restart=on-failure
ExecStart=/usr/local/bin/openweather-exporter
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
